body {
  font-family: arial;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

.libraryContainer {
  
}

.navBar {
  display: flex;
  justify-content:space-around;
  padding: 20px;
  font-size: 20px;
}

.bookImg {
  display: flex;
  margin-right: 15px;
  height: 300px;
}

.bookContainer{
  display: flex;
  flex-direction: column;
  border:  1px solid #ccc;
  flex-direction: row;
  margin: 0;
  padding: 15px;
  /* border-bottom: 1px solid black; */
  background: #fff;
  margin: 25px;
}

.bookAbout{
  display: block;
}

.bookDetailButton{
  display: block;
  justify-content: end;
  width: 100%;
  padding: 10px 20px 10px;
  margin-top: 50px;
  border: 2px solid #20a9c4

}

.bookDetailButton:hover {
  background-color: #20a9c4;
  color: white;
}

.form{
display: flex;
flex-direction: column;
}

label {
  font-size: 20px;
  margin: 5px;
  padding: 10px;
}

input{
  font-size: large;
  padding: 10px;
  margin: 20px;
}

.fillIn {
  display: flex;
  flex-direction: column;
}

.submitButton{
  padding: 6px 12px;
  font-size: larger;
  background-color: black;
  color: white;
  margin: 20px;
}

.searchBar{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.singleBookContainer {
  display: flex;
  flex-direction: column;
  border:  1px solid #ccc;
  flex-direction: row;
  margin: 0;
  padding: 15px;
  /* border-bottom: 1px solid black; */
  background: #fff;
  margin: 20px;
}

.bookSummary {
  font-size:large;
}

.backLink{
  margin-left: 20px;
}

.authContainer {
  display: flex;
  flex-direction: column;
}

.authHeader {
  font-size: 40px;
  margin: 15px;
}

.accountContainer{
  border:  1px solid #ccc;
  flex-direction: row;
  margin: 0;
  padding: 15px;
  background: #fff;
  margin: 25px;
}

.checkedOutContainer {
  border:  1px solid #ccc;
  flex-direction: row;
  margin: 0;
  padding: 15px;
  background: #fff;
  margin: 20px;
}

.header {
    border-bottom: 1px solid black;
}